extends ../layouts/main-layout.pug

block content
    main
        .grid
            div
                h1 #{ product.title }
                hr
                div
                    img.image(src=product.imageUrl alt=product.title)
                h2 #{ product.price }
                p #{ product.description }
                include ../includes/add-to-cart.pug
